<div class="row">

<%= form_for @project, html: { multipart: true } do |f| %>
<%= render 'errors/error_messages' %>

<div class="form-group">
   <label for="project_name" class="col-sm-2 control-label">Name</label>
   <div class="col-sm-10">
     <%= f.text_field :name, class: "form-control" %><br />
   </div>
 </div>


 <div class="form-group">
   <label for="project_materials" class="col-sm-2 control-label">Materials</label>
   <div class="col-sm-10">
     <%= f.text_field :materials, class: "form-control" %><br />
   </div>
 </div>


 <div class="form-group">
   <label for="project_length" class="col-sm-2 control-label">Length</label>
   <div class="col-sm-10">
     <%= f.text_field :length, class: "form-control" %><br />
   </div>
 </div>


 <div class="form-group">
    <label for="project_tag_id" class="col-sm-2 control-label">Theme</label>
    <div class="col-sm-10 ">
    <div class=" form-control">
    <% Theme.all.each do |theme| %>
    <%= check_box_tag "project[theme_ids][]", theme.id, f.object.themes.include?(theme) %>
      <%= theme.name %>
    <% end %>
    <%= f.text_field :all_themes, placeholder: "Or Create a New Theme!" %><br /> %>

</div>
  </div>
</div>

<div class="form-group">
  <label for="pin_image" class="col-sm-2 control-label">Image</label>
  <div class="col-sm-10">
  <%= f.file_field :image, class: "form-control" %><br />
  </div>
</div>



 <div class="form-group">
  <div class="col-sm-2">
  </div>
    <div class="col-sm-10">
      <%= f.button(options = {class: "btn btn-default form-control"}) %>
    </div>
</div>
<% end %>
</div>
