
<div class="show-project">
    <img class="projectImage" src="<%= @project.image.url(:medium) %>" ><br><br>
</div>

<label>Name:</label>
<p><%= @project.name %></p>
<label>Materials:</label>
<p><%= @project.materials %></p>
<label>Length:</label>
<p><%= @project.length %></p>
<label>Theme:</label>
<p><%= @project.all_themes %></p>


<%= link_to "Edit Project", edit_user_project_path %><br>
<%= link_to "Delete Project", user_project_path, :confirm => "Are you sure?", :method => :delete, :prompt => "Are you sure?" %><br>
