<div class="show-project">
    <img class="projectImage" src="<%= @project.image.url(:medium) %>" ><br><br>
</div>


<p><%= @project.name %></p>
<p><%= @project.materials %></p>
<p><%= @project.length %></p>
<p><%= @project.themes %></p>


<%= link_to "Edit Project", edit_project_path %><br>
<%= link_to "Delete Project", project_path(@project), :confirm => "Are you sure?", :method => :delete, :prompt => "Are you sure?" %><br>
