<div class="show-project">
    <img class="projectImage" src="<%= @project.image.url(:medium) %>" ><br><br>
</div>
<%= @project.name %>
<%= @project.materials %>
<%= @project.length %>
<%= @project.tag_name %>
