<!DOCTYPE html>
<html>
  <head>
    <title>TheDiyLife</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
    <div class="container-fluid">

      <%= yield %>

    </div>

    <footer id="footer">

   		<div class="container">

    <div class="col-md-12 fh5co-copyright text-center">
    <p>&copy; 2017 All Rights Reserved. Made with <%=fa_icon "heart", style: "color:red;" %> by <%= link_to "Mary Umoh", "http://www.medium.com/@umohm12", target: '_blank' %></p>
    <p><%= link_to (fa_icon 'github 2x').to_s, 'https://github.com/umohm1', target: '_blank' %></p>
  </div>
</div>
  </footer>
  </body>
</html>
